.hero {
    height: 90vh;
    display: flex;
    background-image: linear-gradient(180deg,#fde1ff,#e1ffea22);
}

.hero-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 120px;
    line-height: 1.1;

}

.hero-left h2 {
    color: #090909;
    font-size: 20px;
    font-weight: 600;
}

.hero-left p {
    color: #171717;
    font-size: 50px;
    font-weight: 700;
}

.hero-hand-icon {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hero-hand-icon img {
    width: 70px;
    margin-left: -15px;

}

.hero-latest-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 60px;
    border-radius: 75px;
    margin-top: 30px;
    background: #ff4141;
    color: white;
    font-size: 22px;
    font-weight: 500;


}

.hero-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

}

.hero-right img {
    width: 400px;
}

/* Default styles */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .hero-left {
    flex: 1;
  }
  
  .hero h2 {
    font-size: 24px;
  }
  
  .hero-hand-icon {
    display: flex;
    align-items: center;
  }
  
  .hero-hand-icon img {
    margin-left: 10px;
  }
  
  .hero-latest-btn {
    display: flex;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
  }
  
  .hero-right img {
    width: 100%;
    height: auto;
  }
  
  /* Media query for screens smaller than 600px */
  @media only screen and (max-width: 600px) {
    .hero {
      flex-direction: column;
      text-align: center;
    }
  
    .hero h2 {
      font-size: 20px;
    }
  
    .hero-hand-icon {
      margin-top: 10px;
    }
  
    .hero-latest-btn {
      margin-top: 10px;
    }
    .hero-right img {
      width: 100%;
      height: auto;
    }
    
  }
  
  /* Media query for screens between 601px and 900px */
  @media only screen and (min-width: 601px) and (max-width: 900px) {
    .hero h2 {
      font-size: 22px;
    }
  }
  
  /* Media query for screens between 901px and 1200px */
  @media only screen and (min-width: 901px) and (max-width: 1200px) {
    /* Add any additional responsive styles for larger screens if needed */
  }
  
  /* Media query for screens larger than 1200px */
  @media only screen and (min-width: 1201px) {
    /* Add any additional responsive styles for extra-large screens if needed */
  }
  